{% extends 'djfiles/index.html' %}
{% load static %}
{% block content %}
{% load i18n %}
<br><br><br>
{% if request.user.is_authenticated %}
<h4 align="center">{% trans 'Edit personal information' %}</h4>
<br><br>


    <!--====================  login area ====================-->
    <div class="login-area space__bottom--r120">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12 space__top__md--40 space__top__lm--40">
                    <form method="post" action="{% url 'edit_profile' %}">
                        {% csrf_token %}
                        <div class="login-form">
                            <div class="row">
                                <div class="col-md-6 col-12 space__bottom--20">
                                    <label>{% trans 'Username' %}</label>
                                    {{ form.user}}
                                </div>
                                <div class="col-md-6 col-12 space__bottom--20">
                                    <label>{% trans 'First name' %}</label>
                                    {{ form.first_name }}
                                </div>
                                <div class="col-md-6 col-12 space__bottom--20">
                                    <label>{% trans 'Second name' %}</label>
                                    {{ form.second_name }}
                                </div>
                                <div class="col-md-6 space__bottom--20">
                                    <label>{% trans 'Phone' %}</label>
                                    {{ form.tel }}
                                </div>
                                <div class="col-md-6 space__bottom--20">
                                    <label>{% trans 'Town' %}</label>
                                    {{ form.town}}
                                </div>
                                <div class="col-md-12 space__bottom--20">
                                   <label>{% trans 'About me' %}</label>
                                   {{ form.about_me }}
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="default-btn" >{% trans 'Send' %}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of login area  ====================-->
{% else %}
    <h6>{% trans 'You are not logged in, log in to view user information' %}</h6>
{% endif %}
{% endblock content %}
