{% extends 'djfiles/index.html' %}
{% load static %}
{% block content %}
<br><br><br><br><br>

    <!--====================  feature area ====================-->
    <div class="feature-area space__bottom--r120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1">
                    <!-- feature content wrapper -->
                    <div class="feature-content-wrapper space__bottom--m35">
                        <div class="single-feature space__bottom--35">
                            <div class="single-feature__icon">
                                <img src="{% static 'djfiles/assets/img/icons/feature-2.png' %}" class="img-fluid" alt="">
                            </div>
                            <div class="single-feature__content">
                                <h4 class="single-feature__title">Последние новости</h4>
                                <p class="single-feature__text">Наши репортёры работают 24/7, мы следим за всем что меняеться </p>
                            </div>
                        </div>
                        <div class="single-feature space__bottom--35">
                            <div class="single-feature__icon">
                                <img src="{% static 'djfiles/assets/img/icons/feature-1.png' %}" class="img-fluid" alt="">
                            </div>
                            <div class="single-feature__content">
                                <h4 class="single-feature__title">И только гуща</h4>
                                <p class="single-feature__text">Мы не публикуем скучные новости, не разбавляем их водой и не приукрашиваем. Всё что Вы увидете всё как есть </p>
                            </div>
                        </div>
                        <div class="single-feature space__bottom--35">
                            <div class="single-feature__icon">
                                <img src="{% static 'djfiles/assets/img/icons/feature-3.png' %}" class="img-fluid" alt="">
                            </div>
                            <div class="single-feature__content">
                                <h4 class="single-feature__title">Со всех уголков мира</h4>
                                <p class="single-feature__text">1072 стрингера во всём мире рыщут в поисках хорошей новости </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 space__bottom__md--40 space__bottom__lm--40 order-1 order-lg-2">
                    <!-- feature content image -->
                    <div class="feature-content-image">
                        <img src="{% static 'djfiles/assets/img/feature/feature-banner-1.jpg' %}" class="img-fluid" alt="">
                        <img src="{% static 'djfiles/assets/img/feature/feature-banner-2.jpg' %}" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
