{% extends 'djfiles/index.html' %}
{% load static %}
{% block content %}
<br><br><br>
<h4 align="center">Добавить новость</h4>
<br><br>
{% if request.user.is_authenticated %}
    <!--====================  login area ====================-->
    <div class="login-area space__bottom--r120">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12 space__top__md--40 space__top__lm--40">
                    <form enctype="multipart/form-data" method="post" action="{% url 'add_news' %}">
                        {% csrf_token %}
                        <div class="login-form">
                            <div class="row">
                                <div class="col-md-12 col-12 space__bottom--20">
                                    <label>Заголовок новости</label>
                                    {{ news_form.title}}
                                </div>
                                <div class="col-md-12 col-12 space__bottom--20">
                                    <label>Описание</label>
                                    {{ news_form.description }}
                                </div>
                                <div class="col-md-6 space__bottom--20">
                                    <label>Активен</label>
                                    {{ news_form.status }}
                                </div>
                                <div class="col-md-6 space__bottom--20">
                                    <label>Изображения</label>
                                    {{ picture_form.image}}
                                </div>
                                <div class="col-12">
                                     <input type="submit" value="Добавить">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of login area  ====================-->
{% else %}
    <h6>Вы не авторизованы, авторизуйтесь чтобы добавить новость</h6>
{% endif %}
{% endblock content %}